body{
  background: linear-gradient(#FFD9D9, #CCE1FF);
}

/*** Works on common browsers ***/
::selection {
    background-color: #FF4E00;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #FF4E00;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #FF4E00;
    color: #fff;
}

::-ms-selection {
    background-color: #FF4E00;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #FF4E00;
    color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  padding: 0px 20px;
}
.hello{
  font-family: Times;
  font-size: 192px;
  letter-spacing: -10px;
  color: #3D4366;
  padding-top: 200px;
}
.description-subtitle{
  font-family: Roboto;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  color: #3D4366;
}
.hand{
margin-right: 10px;
}
.button{
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  color: #3D4366;
  background-color: none;
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

.button:hover {
  color: #97B9D2;
  text-decoration: none;
}

@-webkit-keyframes wave {
  from {transform: rotate(70deg)}
  to {transform: rotate(0deg)}
}
@-moz-keyframes wave {
  from {transform: rotate(70deg)}
  to {transform: rotate(0deg)}
}
@-o-keyframes wave {
  from {transform: rotate(70deg)}
  to {transform: rotate(0deg)}
}
@keyframes wave {
  from {transform: rotate(70deg)}
  to {transform: rotate(0deg)}
}

.button:hover .hand {
  position: relative;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: wave;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: inline-block;
  transition-timing-function: ease-out;
}

.hand {
}
.wrapper::before {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #C8DDEB, #97B9D2);
  top: 685px;
  left: 80px;
  z-index: -1;
}
.wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #C8DDEB, #97B9D2);
  opacity: 0.6;
  top: 265px;
  right: -100px;
  z-index: -2;
}

.cv-description{
  width: 550px;
  color: #3D4366;
  padding: 45px 45px;
  margin-top: 300px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 200px;
}

.section{
  font-family: Times;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  color: #3D4366;
  margin-bottom: 40px;
  margin-top: 150px;
}

/*  padding-top: 50px;
  margin-top: -50px;*/

.studies{
  font-family: Roboto;
  font-size: 20px;
  color: #3D4366;
  margin-bottom: 30px;
}

.bold{
  font-weight: 700;
  display: inline;
  text-transform: uppercase;
}

.medium{
  font-weight: 400;
  display: inline;
}

.light{
  font-weight: 300;
  display: inline;
}

.line{
  font-weight: 300;
  margin: 0px 10px;
  display: inline;
  opacity: 0.7;
}

.description{
  font-weight: 300;
  font-size: 17px;
  opacity: 0.5;
  max-width: 790px;
}

.link{
  color: #3D4366;
}

.link:hover{
  color: white;
  text-decoration: none;
}

.footer{
  height: 400px;
  padding-top: 260px;


}
.page-made{
  font-family: Roboto;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 3px;
  color: white;
  max-width: 45px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.page-made::after {
  content: '';
  display: inline;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #C8DDEB, #97B9D2);
  z-index: -1;
  right: -15px;
  top: -16px;
}

.look-code{
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
  color: #3D4366;
  display: inline;
  z-index: 0;
  margin-left: 40px;
  margin-top: -100px;

}
